
@{
    ViewBag.Title = "ErrorBased";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12 p-5 mb-4 bg-light rounded-3">
    <div class="offset-md-2 py-3">
        <p class="col-md-8 fs-5">
            Error-based SQLi is an in-band SQL Injection technique that relies on error messages thrown by the database server to obtain information about the structure of the database.
        </p>
    </div>
</div>

@if (!String.IsNullOrEmpty(ViewBag.Message))
{
    <div class="alert alert-success col-md-8 offset-md-2" role="alert">
        @ViewBag.Message
    </div>
}

<div class="col-md-8 offset-md-2">
    <h4>Error Based</h4>
    @using (Html.BeginForm("ErrorBased", "SqlInjection", FormMethod.Post))
    {
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="add product" aria-label="add" aria-describedby="add-button" name="productName" id="errorbased" />
            <button class="btn btn-outline-secondary" type="submit" id="add-button">Add Product</button>
        </div>
    }
</div>

<br />
<hr class="col-md-8 offset-md-2" />
<br />

<div class="col-md-8 offset-md-2">
    <h4>Error Based With Format String</h4>
    @using (Html.BeginForm("ErrorBasedWithFormatString", "SqlInjection", FormMethod.Post))
    {
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="add product" aria-label="add2" aria-describedby="add-button2" name="productName" id="errorbasedwithformatstring" />
            <button class="btn btn-outline-secondary" type="submit" id="add-button2">Add Product</button>
        </div>
    }
</div>

<br />
<hr class="col-md-8 offset-md-2" />
<br />

<div class="col-md-8 offset-md-2">
    <h4>Error Based With Sql Data Adapter</h4>
    @using (Html.BeginForm("ErrorBasedWithSqlDataAdapter", "SqlInjection", FormMethod.Post))
    {
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="add product" aria-label="add3" aria-describedby="add-button3" name="productName" id="errorbasedwithsqldataadapter" />
            <button class="btn btn-outline-secondary" type="submit" id="add-button3">Add Product</button>
        </div>
    }
</div>