@model vuln_netframework.Models.SqlInjection.Search
@{
    ViewBag.Title = "UnionBased";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12 p-5 mb-4 bg-light rounded-3">
    <div class="offset-md-2 py-3">
        <p class="col-md-8 fs-5">
            Union-based SQLi is an in-band SQL injection technique that leverages the UNION SQL operator to combine the results of two or more SELECT statements into a single 
            result which is then returned as part of the HTTP response.
        </p>
    </div>
</div>

@if (!String.IsNullOrEmpty(ViewBag.Message))
{
    <div class="alert alert-success col-md-8 offset-md-2" role="alert">
        @ViewBag.Message
    </div>
}

<div class="col-md-8 offset-md-2">
    <h4>Union Based</h4>
    @using (Html.BeginForm("UnionBased", "SqlInjection", FormMethod.Post))
    {
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="search user" aria-label="search" aria-describedby="search-button" name="username" id="unionbased" />
            <button class="btn btn-outline-secondary" type="submit" id="search-button">Search User</button>
        </div>
    }
</div>

<br />
<hr class="col-md-8 offset-md-2" />
<br />

<div class="col-md-8 offset-md-2">
    <h4>Union Based With Format String</h4>
    @using (Html.BeginForm("UnionBasedWithFormatString", "SqlInjection", FormMethod.Post))
    {
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="search user" aria-label="search2" aria-describedby="search-button2" name="username" id="unionbasedwithformatstring" />
            <button class="btn btn-outline-secondary" type="submit" id="search-button2">Search User</button>
        </div>
    }
</div>

<br />
<hr class="col-md-8 offset-md-2" />
<br />

<div class="col-md-8 offset-md-2">
    <h4>Union Based With Sql Data Adapter</h4>
    @using (Html.BeginForm("UnionBasedWithSqlDataAdapter", "SqlInjection", FormMethod.Post))
    {
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="search user" aria-label="search3" aria-describedby="search-button3" name="username" id="unionbasedwithsqldataadapter" />
            <button class="btn btn-outline-secondary" type="submit" id="search-button3">Search User</button>
        </div>
    }
</div>