@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="p-5 mb-4 bg-light rounded-3">
    <div class="offset-md-2 py-3">
        <p class="col-md-8 fs-4">Today, a lot of web vulnerabilities exist on the world. This project aim to show bad coding practices that cause security vulnerability on .net framework.</p>
        <br />
        <p class="col-md-8 fs-6">More resource about web security vulnerabilities:</p>
        <ul class="col-md-8 list-group">
            <li class="list-group-item list-group-item-danger"><a class="link-dark" href="https://github.com/OWASP/CheatSheetSeries">Owasp Cheat Sheet</a> </li>
            <li class="list-group-item list-group-item-danger"><a class="link-dark" href="https://portswigger.net/web-security">Web Security Academy</a> </li>
        </ul>
    </div>
</div>